{% trans_default_domain 'FOSUserBundle' %}

<div class="col-xs-4 col-xs-offset-4">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
