{% extends "FOSUserBundle::layout.html.twig" %}



{% block fos_user_content %}
    <div class="row">
        <div id="validate" class="col-xs-6 col-xs-offset-3 text-center">
                {% trans_default_domain 'FOSUserBundle' %}
                <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                {% if targetUrl %}
                <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                {% endif %}
        </div>
    </div>
{% endblock fos_user_content %}
