{% extends '::base.html.twig'%}

{% block body %}

<h1>Liste des utilisateurs</h1>
{% for user in users %}
<li>{{ user.username|e }} id: {{user.id}}</li><a href="{{ path('igles_promote_user', { 'id': user.id }) }}"><input type="submit" value="Promote"></a>
{% endfor %}

{% endblock %}