html, body{
	width: 100%;
	height: 100%;
	background-color: rgb(243, 242, 240);
}
header{
	height: 17%;
	background-image: url("../images/font.png");
}
#title{
	color:white;
	margin-top: 15px;
}
#titleE{
	color:rgb(93, 188, 118);
}
#titleI{
	color:rgb(78, 185, 198);
}
.navbar-form{
	margin-top: 30px;
}
#titlemessage{
	margin-top: 30px;
	margin-bottom: 40px;
	background-image: url("../images/font2.png");
}
h2{
	margin-bottom: 10px;
}
#comment{
	margin-bottom: 50px;
	background-image: url("../images/font2.png");
}
#comments{
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: url("../images/font2.png");
}
#commentable{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
	margin-bottom: 40px;
}
#btncomments{
	margin-bottom: 10px;

}
#filactu{
	margin-top: -20px;
	margin-bottom: -120px;
}
#imgserie{
	width: 70%;
	height: 70%;
	margin-bottom:20px;
	box-shadow: 4px 4px 8px;
}
#validate{
	padding-top: 20px;
	padding-bottom: 15px;
	margin-top: 60px;
	color: white;
	background-image: url("../images/font.png");
}
#imgserieindex{
	width: 80%;
	height: 80%;
	margin-top: 60px;
	margin-bottom: 60px;
	box-shadow: 4px 4px 8px;
}
#imgserieindex:hover{
	transform:scale(1.2);
 }
#serieindex{
	background-color: white;
	margin-left: 30px;
}

#imgseriesearch{
	width: 70%;
	height: 70%;
	box-shadow: 4px 4px 8px;
	margin-bottom: 50px;
}
h1{
	margin-top: 50px;
}
figcaption{
	margin-top: 40px;
	margin-bottom: 10px;
}
#searchnomserie {
	margin-top: 80px;
	margin-left: 3px;
	color: white;
	background-image: url("../images/font.png");
}
#searchnomepisode{
	margin-left: 7px;
	color: white;
	background-image: url("../images/font.png");
}
table{
	margin-top: 15px;
}
#series, #episodeslink, #linkadmin, #linkdeconnexion{
	color: black;
	text-decoration: none;
}

#saisons{
	padding-top: -50px;
	color: black;
	text-decoration: none;
	background-color: green;
}
#saison{
	padding-top: -50px;
	color: black;
	text-decoration: none;
}
#imagesaison{
	width: 100%;
	height: 100%;
	margin-top: 10px;
	box-shadow: 5px 5px 5px;
}
#imageepisode{
	width: 90%;
	height: 100%;
	margin-top: 10px;
	box-shadow: 5px 5px 5px;
}
#imagesaison2{
	width: 50%;
	height: 50%;
	box-shadow: 5px 5px 5px;
}
#vue{
	margin-top: 16px;
	margin-left: 300px;
}
#follow, #unfollow{
	margin-top: 10px;
	margin-bottom: 10px;
}
#divsaison{
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 10px;
	background-color: white;
	box-shadow: 3px 3px 3px;
}
#divepisode{
	margin-top: 30px;
	margin-left: 60px;
	background-color: white;
	box-shadow: 3px 3px 3px;
}
#titleepisode{
	padding-bottom: 20px;
	font-size: 16px;
}
#divresume{
	margin-top: 45px;
	margin-bottom: 80px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	background-color: white;
	box-shadow: 3px 3px 3px;
}
#fil{
	color: black;
}
.breadcrumb{
	background-color: rgb(243, 242, 240);
	margin-top: 10px;
	margin-left: -17px;
}
#resume{
	margin-top: 20px;
}
a{
	text-decoration: none;
	color:black;
}
a:hover{
	color:black;
}
#Accueil:hover{
	background-color: rgb(78, 185, 198);
}
#News:hover{
	background-color: rgb(253, 181, 21);
}
#Series:hover{
	background-color: rgb(235, 52, 46);
}
#forum:hover{
	background-color: #ef7a35;
}
#Membres:hover{
	background-color: rgb(93, 188, 118);
}
#Accueil, #News, #Series, #forum, #Membres{
	height: 37px;
	margin-top: 18px;
	padding-top: 10px;
	background-color: #6C6C6C;
	font-family: Arial, Helvetica;
	color:white;
}
#espacemembres{
	margin-top: 20px;
	margin-right: 50px;
}
#slide{
	margin-left: 720px;
	width: 15%;
}
form{
	margin-top: 25px;
}
img{
	width: 100%;
	height: 100%;
}

#imgValidate{
	height: 30%;
}

#item{
	width: 100%;
	height: 50%;
}
#colorform{
	margin-top: 85px;
/*	background-color: #7F7E7D;*/
	border-top-right-radius: 3% 4%;
	border-bottom-right-radius: 3% 4%;
	border-top-left-radius: 3% 4%;
	border-bottom-left-radius: 3% 4%;
	padding-bottom: 15px;
	color:white;
	background-image: url("../images/font.png");

}
#colorformreset{
	margin-top: 85px;
	/*	background-color: #7F7E7D;*/
	border-top-right-radius: 3% 4%;
	border-bottom-right-radius: 3% 4%;
	border-top-left-radius: 3% 4%;
	border-bottom-left-radius: 3% 4%;
	padding-top: 20px;
	padding-bottom: 15px;
	color:white;
	background-image: url("../images/font.png");

}
#formcolor{
	margin-top: 40px;
	border-top-right-radius: 3% 4%;
	border-bottom-right-radius: 3% 4%;
	border-top-left-radius: 3% 4%;
	border-bottom-left-radius: 3% 4%;
	color:white;
	line-height: 190%;
	background-image: url("../images/font.png");
}
#formcolorsign{
	margin-top: 40px;
	margin-bottom: 40px;
	border-top-right-radius: 3% 4%;
	border-bottom-right-radius: 3% 4%;
	border-top-left-radius: 3% 4%;
	border-bottom-left-radius: 3% 4%;
	color:white;
	line-height: 190%;
	background-image: url("../images/font.png");
}
#SignIn{
	margin-top: 85px;
/*	background-color: #7F7E7D;*/
	border-top-right-radius: 3% 4%;
	border-bottom-right-radius: 3% 4%;
	border-top-left-radius: 3% 4%;
	border-bottom-left-radius: 3% 4%;
	padding-bottom: 15px;
	color:white;
	background-image: url("../images/font.png");
}
#h3{
	margin-top: 20px;
}
#colorformoublie{
	padding-top: 10px;
	margin-top: 45px;
	background-color: #7F7E7D;
	border-top-right-radius: 3% 4%;
	border-bottom-right-radius: 3% 4%;
	border-top-left-radius: 3% 4%;
	border-bottom-left-radius: 3% 4%;
	padding-bottom: 15px;
	margin-left: 37%;
	color:white;
}
#submit{
	margin-top: 10px;
}
.btn-default:hover{
	background-color: rgb(78, 185, 198);
}
#connexion{
	margin-top: 20px;
}
#valider{
	margin-top: 20px;
	margin-bottom: 20px;
}
#admin{
	margin-top: 20px;
}
#espmembres{
	margin-top: 20px;

}
#signin:hover, #creercompte:hover{
	background-color: rgb(253, 181, 21);
}
#signin{
	margin-top: 20px;
}
#creercompte{
	margin-top: 20px;
	margin-left: 3px;
}
#deconnexion{
	margin-top: 20px;
	margin-left: 20px;
}
#deconnexion2{
	margin-top: 20px;
}
#ajouter{
	margin-top: 28px;
}
#motdepasse{
	margin-top: 20px;
	margin-left: -10px;
	text-decoration: underline;
	color: white;
}
#divh4{
	margin-top: 90px;
	background-color: rgb(78, 185, 198);
}
#divh42{
	margin-top: 90px;
	margin-left: 30px;
	background-color: #ef7a35;
}

#youtube{
	padding-right: 73px;
	margin-left: 165px;
	margin-bottom: 50px;
}
#profile{
	background-color: white;
	color: black;
	margin-top: 30px;
	background-image: url("../images/font2.png");
}
#profilevue{
	background-color: white;
	color: black;
	margin-top: 30px;
	margin-bottom: 50px;
	background-image: url("../images/font2.png");
}
#user{
	background-color: white;
	color:black;
	margin-top: -200px;
	background-image: url("../images/font2.png");
}
#profile:hover{
	text-decoration: none;
	color: black;
}
#meserror{
	margin-top: 30px;
	background-color: #FE2E2E;
}
#search{
	margin-top: 50px;
	background-image: url("../images/font2.png");
}
#imgsuivi{
	margin-bottom: 20px;
}
#suivre{
	margin-top: 15px;
}
/*footer{
	height: 40px;
	margin-top: 200px;
	background-image: url("../images/fontheader.png");
	padding-top: 10px;
}*/