{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div id="validate" class="col-xs-6 col-xs-offset-3 text-center">
    {{ 'resetting.check_email'|trans({'%email%': email}) }}
</div>
{% endblock %}
