{% extends '::base.html.twig' %}


{% block body %}
<div class="row">
	<div class="col-xs-12 col-xs-offset-4">
	   <ul>
	   		{% for episode in episodes %}
	   			<h3>{{ episode.nomEpisode }}</h3>
	   			<img src="{{ episode.posterEpisode }}" alt="poster">
	   		{% endfor %}
	   </ul>
	</div>	
</div>
{% endblock %}