{% extends '::base.html.twig' %}


{% block body %}
<div class="row">
	<div class="col-xs-12 col-xs-offset-4">
	   <ul>
	   			<h3>{{ episodes.nomEpisode }}</h3>
	   			<img src="{{ episodes.posterEpisode }}" alt="poster">
	   </ul>
	</div>	
</div>
{% endblock %}