{% extends '::base.html.twig' %}
   {% block body %}
       <div class="container-fluid">
           <div class="row">
                <div class="col-xs-12">
                    <div class="container">
                        <h1 id="titlemessage" class="text-center">{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}</h1>
                    </div>
                </div>
           </div>
           <div class="row">
               <nav class="col-xs-3">
                   <div class="col-xs-offset-3">
                   <ul class="nav nav-pills nav-stacked">
                       <a href="{{ url('fos_message_thread_new' )}}"><button class="btn btn-info">Nouveau Message</button></a>
                       <li><a href="{{ url('fos_message_inbox') }}">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a></li>
                       <li><a href="{{ url('fos_message_sent') }}">{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a></li>
                       <li><a href="{{ url('fos_message_deleted') }}">{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</a></li>
                   </ul>
                   </div>
               </nav>


                           {% block fos_message_content %}{% endblock %}

           </div>
       </div>

   {% endblock %}